:root{
    --body-bg: #ededed;
    --navbar-bg: #d3dce8;
    --nav-item-bg: #e8e1d5;
    --nav-item-border-col: #bfd0e7;
    --blog-index-item-bg: #e8e1d5;
    --blog-index-item-border-col: #bfd0e7;
    --footer-bg: #e8e1d5;
    --index-menu-col: #d3dce8;
    --index-menu-border: #bfd0e7;
    --index-menu-hover: #5e7aa0;
    --navbar-border-bottom: #bfd0e7;
  }
  .dark{
    --body-bg: #222830;
    --main-text-col: #bbbbbb;
    --a-text-col:#bbbbbb;
    --navbar-bg: #5e7aa0;
    --nav-item-bg: #b19c78;
    --nav-item-border-col: #486b9c;
    --blog-index-item-bg: #b19c78;
    --blog-index-item-border-col: #486b9c;
    --footer-bg: #a89471;
    --index-menu-col: #5e7aa0;
    --index-menu-border: #486b9c;
    --index-menu-hover: #d3dce8;
    --navbar-border-bottom: #486b9c;
  }
  @font-face {
    font-family: "BerkeleyMono";
    src: url("../assets/fonts/BerkeleyMonoVariable-Regular.woff2") format("woff2");
  }
.body {
    background: var(--body-bg);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: medium;
    margin: 0;
}
code {
    font-family: "BerkeleyMono" !important;
    white-space: normal !important;
    overflow: auto !important;
    
}
.code-block {
    border-radius: 30px;
}
.code-block > pre[class*="language-"] {
    margin: 0;
}
.code-block-aside {
    font-size: x-small;
    text-align: center;
}
button {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: medium;
}
button:hover {
    cursor: pointer;
}
.toggle-icon {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1.25rem;
}
.main-content {
    color: var(--main-text-col);
}
.flex-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}
.navbar {
    background: var(--navbar-bg);
    border-bottom: solid var(--navbar-border-bottom);
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    place-items: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    row-gap: 5px;
    column-gap: 5px;
}
.nav-item {
    background: var(--nav-item-bg);
    border-radius: 0.5rem;
    border: solid var(--nav-item-border-col);
    padding: 10px;
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
.ul-styled > li > a:link {
    color: var(--a-text-col);
    text-decoration: none;
}
.ul-styled > li > a:visited {
    color: var(--a-text-col);
    text-decoration: none;
}
.index-list-style {
    list-style-type: none;
    padding-left: 0;
}
.index-list-style > li {
    padding-bottom: 1rem;
}
.main-content {
    display: grid;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.blog-title {
    margin-bottom: 3rem;
    text-align: center;
}
.img-main {
    border-radius: 9999px;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}
.blog-img {
    width: 100%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}
.burger-menu-sprint-text {
    font-weight: bold;
    border-bottom: 4px solid #1b1f24;
}
.p-text-main {
    margin-top: 2rem;
    text-align: center;
}
.p-text-blog {
    margin-top: 2rem;
    padding: 0 2rem 2rem 2rem;
    text-align: left;
    max-width: 75ch;
    margin: 0 auto 3rem;
}
.p-text-blog > p {
    margin-bottom: 2rem;
}
.blog-index-item {
    display: block;
    background-color: var(--blog-index-item-bg);
    border-radius: 0.5rem;
    border: solid var(--blog-index-item-border-col);
    padding: 10px;
}
.ul-styled > li {
    margin-bottom: 1rem;
}
.footer {
    background: var(--footer-bg);
    border-top: solid var(--footer-border-col);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-top: auto;
}
.homegroup-text {
    text-align: center;
}
/* topbar code */
.border-2 {
    border-width: 2px;
}
.h-2 {
    height: 0.5rem;
}
.topbar {
    background-color: #b91c1c;
}
/* burger */
.burger-menu-blog-pages {
    position: absolute;
    margin-top: 1.58rem;
    visibility: hidden;
    grid-column: 2/3;
    grid-row: 1/2;
    & ul {
        padding-left: 1rem;
        padding-right: 1rem;
        list-style-type: none;
        > li {
            margin-bottom: 1rem;
        }
    }
    &.active {
        visibility: visible;
        border-radius: 0 0 1rem 1rem;
        background-color: var(--index-menu-col);
        border-right: solid var(--index-menu-border);
        border-bottom: solid var(--index-menu-border);
        border-left: solid var(--index-menu-border);
        > ul > li > a:hover {
            color: var(--index-menu-hover);
        }
    }
}
/* media queries */
@media (min-width: 768px) {
    .topbar {
        background-color: yellow;
    }
    .navbar {
        grid-template-columns: repeat(4, auto);
    }
    .home-button {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .toggle-dark {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    .nav-blog-pages {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    code {
        font-family: "BerkeleyMono" !important;
        white-space: pre !important;
    }
}
@media (min-width: 1024px) {
    .topbar {
        background-color: green;
    }
    .navbar {
        grid-template-columns: repeat(6, auto);
    }
    .home-button {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .toggle-dark {
        grid-column: 6/7;
        grid-row: 1/2;
    }
    .nav-blog-pages {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}
@media (min-width: 1280px) {
    .topbar {
        background-color: blue;
    }
}
